body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:flex;
}
#u263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:1519px;
  top:567px;
  width:63px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:104px;
  width:97px;
  height:101px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u267 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:104px;
  width:97px;
  height:101px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u268 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:104px;
  width:97px;
  height:101px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:127px;
  width:121px;
  height:34px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:161px;
  width:121px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u272 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:161px;
  width:121px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u273 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:161px;
  width:121px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u274 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:161px;
  width:121px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u275 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:161px;
  width:121px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u276 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:161px;
  width:121px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u277 {
  border-width:0px;
  position:absolute;
  left:1785px;
  top:917px;
  width:96px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:976px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.49019607843137253);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:104px;
  width:1920px;
  height:976px;
  display:flex;
}
#u278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1263px;
  height:898px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:127px;
  width:1263px;
  height:898px;
  display:flex;
}
#u279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:1568px;
  top:127px;
  width:69px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
